<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="516207728917-krj9l5gkghquusd1o1dcrif4eb1fk9n6.apps.googleusercontent.com>
    <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/10dac8eb5a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <title>My Chat App</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div id="root"></div>

    <script src="{{ url_for("static", filename="js/index.js") }}"></script>
</body>
</html>